<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.spr.mapper.ReplyMapper"> 
	<insert id="insertReply">
		INSERT INTO Reply(board_id, content, inserted)
		VALUES (#{boardId}, #{content}, #{inserted})
	</insert>
	
</mapper>